/venv
/venv2
dashboard/__pycache__
/dashboard/lib/
/dashboard/temp_path_graph.html
/dashboard/dashboard_cache.pkl
/dashboard/temp_graph.html
/src/task1/__pycache__/
/src/task2/__pycache__/
/src/task3/__pycache__/
/src/task4/__pycache__/
/src/tertiary_analysis_comments.py/
